html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidebar {
  padding: 10px;
  background-color: #f9f9f9;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.sidebar input {
  padding: 15px;
  font-size: 15px;
  border-radius: 50px;
}
.sidebar button {
  padding: 15px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #007bff; /* blue */
  color: white;              /* text color */
  border: none;              /* optional: removes the default border */
  cursor: pointer;           /* optional: shows a pointer on hover */
}
.recent-searches {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;

}

.map-view {
  flex: 1;
}

